body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: rgb(158, 222, 250);
  color:black;
  line-height: 1.5;
}

h1, h2, h3 {
  line-height: 1.2;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px ;
}

.brand h1 {
  font-size: 30px;
}

nav {
  display: flex;
  gap:30px ;
}