:root {
  --color-bg: #F5DD90;
  --color-text: #324376;
  --color-accent: #F68E5F;
  --color-accent2: #F76C5E;
  --color-muted: #586BA4;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: rgb(194, 114, 23);
  color:black;
  line-height: 1.5;
}

h1, h2, h3 {
  line-height: 1.2;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px ;
}

.brand h1 {
  font-size: 30px;
}

nav {
  display: flex;
  gap:30px ;
}

.product {
  display: flex;
  align-items: center;
  gap:20px ;
}
.product-img {
  max-width: 200px;
  height: auto;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap:20px ;
  padding: 10px 20px;
}

.join form {
  display: flex;
  flex-direction: column;
  gap:20px ;
  max-width: 400px;
}

footer {
  text-align: center;
  padding:10 px;
  color:rgb(179, 0, 255);
}

@media (min-width: 768px) {
  .hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "content sidebar1"
      "content sidebar2";
  }
  .hero-content { grid-area: content; }
  .sidebar1 { grid-area: sidebar1; }
  .sidebar2 { grid-area: sidebar2; }
}